
/*Sergio*/ /*Reescrito por viktor*/


/* Cuerpo General */
body.vendedor-home{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: max-content;
    background-color: #f0f0f0;
}

/*Cabecero*/
.header-tienda{
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 0.25%;
    text-align: center;
    font-size: small;
    
}


.header-vendedor{
    background-color: #003A70;
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1rem;
    
    
}

.contenedor{
    width: auto;
    display: flex;
    flex: 1;
}

/*Barra Lateral*/

.BarraLateral{
    width: 8%;
    background:  #292833;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset -1px 1px 5px rgba(0, 0, 0, 0.6); 
    justify-content: flex-start;
    align-items: center;
}

.BarraLateral h2{
    color: white;
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.BarraLateral ul{
    list-style: none;
    padding: 0;
    width: 100%;
}

.BarraLateral ul li{
   
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s;
}

.BarraLateral ul li:hover{
    background-color: #0f0f11;
}


.BarraLateral ul li a{
    position: relative;
    left: 15px;
}



/*
.BarraLateral button{
    background-color: #007BFF;
    color: white;
    border: 2px solid #003A70;
    padding: 0.8rem;
    margin-bottom: 1rem;
    text-align: left;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease; 
}

.BarraLateral button:hover{
    background-color: #0056B3;
}*/

/*Tabla productos*/
.tabla-productos table{
    
    width: 100%;
    border-collapse: collapse;
}

    /*calculo la anchura de las columnas*/
.tabla-productos th:nth-child(1) { width: 5%; } /*ID*/
.tabla-productos th:nth-child(2) { width: 50px; } /*imagen*/
.tabla-productos th:nth-child(3) { width: auto } /*Nombre*/
.tabla-productos th:nth-child(4) { width: auto} /*Ref*/
.tabla-productos th:nth-child(5) { width: auto; } /*Categoria*/
.tabla-productos th:nth-child(6) { width: 8% } /*Precio*/
.tabla-productos th:nth-child(7) { width: 8% } /*Cantidad*/
.tabla-productos th:nth-child(8) { width: 5%; } /*Estado*/
.tabla-productos th:nth-child(9) { width: 8%; } /*Acciones*/


tr.nombre-tabla,tr.nombre-tabla th {
    text-align: center;
    border: none;
    border-bottom: 2px solid aqua;
   
    
}
tr.buscador,tr.buscador td{
    border: none;
}

.tabla-productos th, td{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    height: 10px;
}
td.min-max-unidad input[type="number"]{
    width: 40%;
}


td.estado{
    text-align: center;
}

.tabla-productos th{
    background: #f4f4f4;
}

.tabla-productos input{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.Acciones{
    /*display: flex;*/
    gap: 10px;
}

.Acciones button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Acciones button:hover{
    color:#4A90E2;
}



/*fin tabla productos*/

/*
.ContenidoPrincipal{
    flex: auto;
    padding: 2rem;
    background-color: #f0f0f0;
    box-shadow: 0px 0 4px rgba(0, 0, 0, 0.8); 
}

.ContenidoPrincipal h2{
    margin-bottom: 1rem;
    text-align: center;
}

.ListaProducto{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.CartaProducto{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow:  0 2px 4px rgba(0,0, 0, 0.1);
    width: 80%;
}

.CartaProducto img{
    width: 300px;
    background-color: transparent;
    box-shadow: none;
    border-radius: 8px;
    cursor: pointer;
    transform: scale(5px);
}

.CartaProducto h3{
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.CartaProducto p {
    margin: 0.5rem 0;
}

.CartaProducto span{
    font-weight: bold;
    color:  #4A90E2;
}
*/

